#bodyShoppingCart {
    height: 40vh;
}
#winkelwagen {
    border: solid 4px black;
    padding-left: 1vw;
    padding-right: 1vw;
}
#totalPriceInput {
    border: solid 2px black;
}
#totalPriceReduction {
    line-height: 50px;
    border: solid 2px black;
}
#productencss {
    border: solid 4px black;
}